@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  background-color: #e6d7fd;
}

.input-searchbar {
  &:focus-within,
  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-irish {
  font-family:
    Irish Grover,
    sans-serif;
}

.container-elixir {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
.container-accueil {
  display: flex;
  background: url("./assets/BackgroundAccueil.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.play {
  padding: 0.5vw 4vw 0.5vw 4vw;
  border-radius: 2rem;
  border-width: 6px;
  background-color: #9666d1;
  border-color: #6e28c3;
  box-sizing: content-box;
  width: 7rem;
  text-align: center;
  margin: 10px 50px 20px 40px;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 2.5rem;
  font-family: Irish Grover;
  &:hover {
    background-color: #d9c8ee;
  }
}
.rules {
  padding: 0.5vw 4vw 0.5vw 4vw;
  border-radius: 2rem;
  border-width: 6px;
  background-color: #9666d1;
  border-color: #6e28c3;
  box-sizing: content-box;
  width: 7rem;
  text-align: center;
  margin: 10px 50px 20px 40px;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 2.5rem;
  font-family: Irish Grover;
  &:hover {
    background-color: #d9c8ee;
  }
}
@media screen and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.grand-logo {
  height: 500px;
  object-fit: contain;
}
