@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  background-color: #e6d7fd;
}

.input-searchbar {
  &:focus-within,
  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-irish {
  font-family:
    Irish Grover,
    sans-serif;
}

.container-elixir {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  background-color: blueviolet;
  max-height: 100px;
}
.head {
  display: flex;
  align-items: center;
}
.title h1,
.title p {
  margin: 0;
}
.head > img {
  max-height: 60px;
  align-self: center;
}
h1 > p {
  display: flex;
}
.leaderboard {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1rem;
}
#potionButton {
  display: flex;
  align-items: center;
}
#trophyButton {
  display: flex;
  align-items: center;
}

#potion {
  max-height: 50px;
}
#trophy {
  max-height: 50px;
}
#muteButton {
  max-height: 40px;
  max-width: 40px;
  color: #f7f7f7;
}
@media only screen and (max-width: 600px) {
  .leaderboard {
    display: flex;
    font-size: 0.5rem;
    gap: 1rem;
  }
  .title {
    display: none;
  }
  #logo {
    max-height: 60px;
    gap: 2rem;
  }
  .leaderboard h1 {
    display: none;
  }
  #potion {
    max-height: 40px;
    align-items: center;
  }
  #trophy {
    max-height: 40px;
    align-items: center;
  }
  #muteButton {
    max-height: 40px;
    align-items: center;
  }
}

.container-accueil {
  display: flex;
  background: url("./assets/BackgroundAccueil.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.play {
  padding: 0.5vw 4vw 0.5vw 4vw;
  border-radius: 2rem;
  border-width: 6px;
  background-color: #9666d1;
  border-color: #6e28c3;
  box-sizing: content-box;
  width: 7rem;
  text-align: center;
  margin: 10px 50px 20px 40px;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 2.5rem;
  font-family: Irish Grover;
  &:hover {
    background-color: #d9c8ee;
  }
}
.rules {
  padding: 0.5vw 4vw 0.5vw 4vw;
  border-radius: 2rem;
  border-width: 6px;
  background-color: #9666d1;
  border-color: #6e28c3;
  box-sizing: content-box;
  width: 7rem;
  text-align: center;
  margin: 10px 50px 20px 40px;
  color: white;
  -webkit-text-stroke: 1.5px black;
  font-size: 2.5rem;
  font-family: Irish Grover;
  &:hover {
    background-color: #d9c8ee;
  }
}
@media screen and (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.grand-logo {
  height: 500px;
  object-fit: contain;
}

footer {
  background-color: blueviolet;
  //text-align: center;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: flex-end;
  max-height: 2rem;
  //object-fit: contain;
  @media screen and (max-width: 768px) {
    font-size: 0.5rem;
  }
}
.buttonLogin {
  border-color: black;
  padding: 0.1vw 2vw 0.1vw 2vw;
  margin-left: 2rem;
  font-family: Montserrat;
  border-radius: 2rem;
  border-width: 2px;
  background-color: #9666d1;
  margin-bottom: 0;
  &:hover {
    background-color: #d9c8ee;
    color: black;
  }
}
.blur-background {
  backdrop-filter: blur(15rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
